<header class="navigation" data-ks-navbar="true">
  <nav>
    <ul>
      <li class="navbar-title">
        <h1><a href="http://adamux.com">Adam Kochanowicz</a></h1>
        <button role="button">=</button>
      </li>
      <li>
        <a href="http://adamux.com">Home</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/delights">Delights</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/mobile">Mobile<span class="desktop"> Experiences</span></a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/development"><span class="desktop">Full Stack </span>Development</a>
      </li>
      <li>
        <a href="http://adamkochanowicz.com/#/design">Design</a>
      </li>
    </ul>

    <ul>
      <li>
        <a class="active" href="/">Adam's Lists</a>
      </li>
    </ul>
  </nav>
</header>

<header class="al-nav">
  <nav>
    <ul>
      <li>
        <a href="/">Adam's Lists</a>
      </li>
    </ul>
  </nav>
</header>
