ul.post-list
  +list($style: 'unstyled')

  > li
    margin-bottom: $space * 2

  .post-meta
    color: map-get($gray, light)

  h2
    +heading-sm
    margin-top: 0px
    font-weight: 300

.post-content

  h1, h2, h3, h4, h5, h6
    &:before
      display: block
      content: " "
      margin-top: -60px
      height: 60px
      visibility: hidden

  img
    max-width: 400px
    display: block
    margin:
      left: 0
      top: $space
      bottom: $space * 2

  .gravatar
    width: 50px
    height: 50px
    border-radius: 50%
    display: inline-block
    vertical-align: middle
    margin-right: 5px

  .post-meta
    display: inline-block
    color: map-get($gray, light)

  .post-header
    margin-bottom: $space * 2

.post-list
  @media screen and (min-width: $tablet-landscape)
    -moz-columns: 2
    -webkit-columns: 2
    columns: 2

h1.post-title
  +heading-rg
  font-weight: 500

  @media screen and (min-width: $tablet)
    +heading-xl
    font-weight: 500

.post-article
  h1
    +heading-sm

  h2
    +heading-xs

  h3, h4, h5, h6
    +heading-xxs

.toc
  display: none

.toc, .toc-phone
  h1
    +heading-xs

  .toc-append
    > ul
      +list($style: 'unstyled')


+gt($tablet-landscape)
  .post-content
    +row

  .post-header
    +column(12)

  .toc
    display: block
    +column('third')

    padding-left: $space

  .toc-phone
    display: none

  .post-article
    +column('twothirds')

