.footer
  +wrapper

.social-media-list, .contact-list
  +list($style: 'unstyled')

.social-media-list
  > li

    .icon, .username
      display: inline-block
      vertical-align: middle

      svg
        width: 25px
        height: 25px
