.navigation
  +navbar($background-color: map-get($colors, blue))

  nav
    +wrapper

    @media screen and (min-width: $tablet-landscape)
      max-width: 1200px

  +navbar-fixed
  +navbar-collapse

  h1, h1 a, li, a
    color: white

  .icon, .username, svg
    display: inline-block
    vertical-align: middle

    svg
      width: 20px
      height: 20px
      fill: white

  nav > ul > li > a:not([role=button]),
  nav > ul > li.navbar-title > h1
    padding-left: 0
