.home
  background: map-get($colors, blue)

.home-wrapper
  max-width: $phablet
  padding: $space
  margin: 0px auto

  img
    width: 200px
    margin: 0px auto
    display: block

  ul
    +list($style: 'unstyled')

  h1, h2
    text-align: center

  h1, h2, p, li, a
    color: white

  p
    font-size: 1.1rem
    line-height: 1.6rem

  p.large
    font-size: 1.5rem
    line-height: 2.1rem

  a
    text-decoration: underline

    &:hover
      text-decoration: none

  h1
    +heading-xl
    font-weight: 100
    margin-bottom: 0.5rem
    margin-top: 0

  h2
    +heading-sm
    margin-top: 0
    margin-bottom: 3rem
